<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.document.scanner.flutter.document_scanner_flutter">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/> -->

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true">
        <activity
            android:name="com.document.scanner.flutter.document_scanner_flutter.scanlibrary.ScanActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" 
           >
            <!-- android:launchMode="singleTask" -->
        </activity>
    </application>
</manifest>
